chi sqaure works for categorical data ,

like we find correlation in numerical data

we can use chi square for categorical data

In [1]:
import seaborn as sns
datasets=sns.get_dataset_names()
datasets

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [2]:
data=sns.load_dataset('tips')
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

First we need to find if null values are in our dataset

In [3]:
data.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [4]:
data.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [5]:
# Select Categorical column and then implement chi square test

data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
data[['sex','smoker']]

        sex smoker
0    Female     No
1      Male     No
2      Male     No
3      Male     No
4    Female     No
..      ...    ...
239    Male     No
240  Female    Yes
241    Male    Yes
242    Male     No
243  Female     No

[244 rows x 2 columns]

In [7]:
# check no of values or instances

data['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [8]:
data['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [9]:
# Now we want to how many females smoke and how many males smoke and how many dont

# in simple words now collect observerd data which is done by crosstab shown below

# Also called Observed or Real data
import pandas as pd
pd.crosstab(data['sex'],data['smoker'])

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [10]:
# We can also select other columns lets see with an example

data.columns
data.info()
data_table=pd.crosstab(data['sex'],data['time'])
data_table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [11]:
data_array=data_table.values   # Forming array from observed data
print(f"This is observed value : \n{data_array}")

This is observed value :
[[ 33 124]
 [ 35  52]]

But Whenever chi square Test is done at that time expected value is also required,its like average expectation

eXAMPLE: a college was expecting 70% students to be placed but in real only 50% got selected this 70% is expected value and 50% is observed(real)

Now calculate EXPECTED VALUE

In [12]:
import scipy.stats as stats
stats.chi2_contingency(data_array)  # This gives us expected value
stats_test,p_value,dof,expected_value=stats.chi2_contingency(data_array)
print(f"expected value is \n{expected_value}")

expected value is
[[ 43.75409836 113.24590164]
 [ 24.24590164  62.75409836]]

In [13]:
# calculate chi square value which is shown by deviation from expected and observed
from scipy.stats import stats


Formuala calculation

In [14]:
for o,e in zip(data_array,expected_value):
    print(o,e)

[ 33 124] [ 43.75409836 113.24590164]
[35 52] [24.24590164 62.75409836]

In [15]:
for i in zip(data_array,expected_value):
    print(i)

(array([ 33, 124], dtype=int64), array([ 43.75409836, 113.24590164]))
(array([35, 52], dtype=int64), array([24.24590164, 62.75409836]))

In [16]:
for o,e in zip(data_array,expected_value): # one way
    print((o-e)**2/e)

[2.6431954  1.02123459]
[4.76990434 1.84291759]

In [17]:
[(o-e)**2/e for o,e in zip(data_array,expected_value)]  # Other way

[array([2.6431954 , 1.02123459]), array([4.76990434, 1.84291759])]

In [18]:
chisquare_test=sum([(o-e)**2/e for o,e in zip(data_array,expected_value)]  )
 # final value
chisquare_test
actual_final_value=sum(chisquare_test)
actual_final_value

10.277251918677742

In [19]:
alpha=0.05
dof=1

In [20]:
from scipy.stats import chi2
critical_value=chi2.ppf(1-alpha,df=dof)  # Critical Value finding

In [21]:
# as the actual value is greater than critical value so we reject null hypothesis

if actual_final_value>=critical_value:
    print("Reject H0, There is a relationship between categoricl values")
else:
    print("Accept H0, There is not a relationship between categoricl values")

Reject H0, There is a relationship between categoricl values